<script>
	import Header from '../components/Header.svelte';
	import { fly } from 'svelte/transition';
	import './styles.css';

	export let data;
</script>



<div class="app" style="overflow: hidden">
	<Header />
	{#key data.url}
		<main
			in:fly={{ x: -200, duration: 400, delay: 300}}
			out:fly={{ x: 200, duration: 400 }}
			class="flex-1 flex justify-center mt-10 sm:mt-0 sm:p-0 sm:items-center"
		>
			<slot />
		</main>
	{/key}

	<footer>
		<p class="p-3 w-full text-center">@2023 Artistic Evil</p>
	</footer>
</div>

<style>
	.app {
		@apply flex flex-col min-h-screen;
	}
	footer {
		@apply bg-gray-800 text-white select-none;
	}
</style>
