<script>
	import Card from '../components/Card.svelte';
	import { artists } from '$lib/js/content';

	let activeIndex = 0;

	let active_artist = artists[activeIndex];

	/**
	 * Change the active index.
	 * @param {number} index - The new active index.
	 */
	function changeIndex(index) {
		active_artist = artists[index];
		activeIndex = index;
	}
</script>

<svelte:head>
	<title>Artistic Evil</title>
	<meta name="description" content="artistic evil - misic,vibes and chills" />
</svelte:head>
<div class="grid md:grid-cols-6 md:grid-flow-col bg-gray-700 w-11/12 h-fit md:w-1/2 rounded-lg">
	<div class="flex flex-row min-w-[280px] md:min-w-full no-scroll md:flex-col overflow-auto col-span-1">
		{#each artists as artist, index}
			<button
				class="nav-btns overflow-hidden overflow-ellipsis min-w-24 lg:text-lg py-2 px-3 {index === 0
					? 'rounded-tl-lg'
					: ''} {activeIndex === index ? 'bg-rose-500' : ''}"
				on:click={() => changeIndex(index)}
			>
				{artist.name}
			</button>
		{/each}
	</div>
	<div class="bg-gray-600 col-span-5 flex flex-col sm:flex-row w-full rounded-tr-lg rounded-br-lg">
		<Card artist={active_artist} />
	</div>
</div>

<style>
	.active {
		@apply bg-rose-500;
	}
	button {
		@apply transition-all duration-300 ease-in-out;
	}
	button:hover {
		@apply text-rose-500 bg-white;
	}

	button:focus {
		@apply bg-rose-500 text-white;
	}

	.no-scroll {
		-ms-overflow-style: none; 
		scrollbar-width: none;
	}
	.no-scroll::-webkit-scrollbar {
		display: none;
	}
</style>
