@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
}

html {
	font-family: system-ui, sans-serif;
  }

body {
	min-height: 100vh;
	margin: 0;
	@apply bg-gray-800 text-gray-50 h-screen;
}
