<script>
	import { onMount } from 'svelte';

	let artists = [];
	let currentPage = 0;
	let pageSize = 1; // Number of artists per page
	let newArtist = {
		name: '',
		role: '',
		description: '',
		image: '',
		links: [
			{ type: 'twitter', name: '', link: '' },
			{ type: 'instagram', name: '', link: '' },
			{ type: 'spotify', name: '', link: '' },
			{ type: 'youtube', name: '', link: '' }
		]
	};

	const addArtist = () => {
		artists = [...artists, { ...newArtist }];
		currentPage = artists.length - 1;
	};

	const exportJSON = () => {
		const jsonData = JSON.stringify(artists, null, 2);
		const blob = new Blob([jsonData], { type: 'application/json' });
		const url = URL.createObjectURL(blob);
		const a = document.createElement('a');
		a.href = url;
		a.download = 'artists.json';
		document.body.appendChild(a);
		a.click();
		document.body.removeChild(a);
		URL.revokeObjectURL(url);
	};

	const saveToLocalStorage = () => {
		localStorage.setItem('artists', JSON.stringify(artists));
	};

	onMount(() => {
		const storedArtists = JSON.parse(localStorage.getItem('artists'));
		if (storedArtists) {
			artists = storedArtists;
		}
	});

	function addLinks(type = '') {
		artists[currentPage].links = [
			...artists[currentPage].links,
			{ type: type, name: '', link: '' }
		];
	}

	//    $: saveToLocalStorage();
</script>

<main class="p-4 dark:bg-gray-800">
	<h1 class="text-3xl font-bold mb-4 text-rose-500">Artist Generator</h1>
	<div class="mb-4 flex gap-3 justify-between items-center">
		<button class="bg-rose-500 text-white px-4 py-2 rounded" on:click={addArtist}>
			Add Artist
		</button>
		<button class=" text-white px-4 py-2 rounded border border-dotted" on:click={exportJSON}>
			Export JSON
		</button>
	</div>

	{#each artists.slice(currentPage * pageSize, (currentPage + 1) * pageSize) as artist, index}
		<div class="border p-4 mb-4 rounded flex flex-col" key={index}>
			<label for="name" class="text-gray-600 font-bold mb-1">Name</label>
			<input
				type="text"
				id="name"
				placeholder="Name"
				bind:value={artists[index + currentPage * pageSize].name}
				class="mb-2 px-2 py-1 border rounded dark:bg-gray-700"
			/>

			<label for="role" class="text-gray-600 font-bold mb-1">Role</label>
			<input
				type="text"
				id="role"
				placeholder="Role eg. Artist"
				bind:value={artists[index + currentPage * pageSize].role}
				class="mb-2 px-2 py-1 border rounded dark:bg-gray-700"
			/>

			<label for="description" class="text-gray-600 font-bold mb-1">Description</label>
			<textarea
				id="description"
				placeholder="Description"
				bind:value={artists[index + currentPage * pageSize].description}
				class="mb-2 px-2 py-1 border rounded dark:bg-gray-700"
			></textarea>

			<label for="image" class="text-gray-600 font-bold mb-1">Image</label>
			<input
				type="text"
				id="image"
				placeholder="Image"
				bind:value={artists[index + currentPage * pageSize].image}
				class="mb-2 px-2 py-1 border rounded dark:bg-gray-700"
			/>

			<div class="flex p-1">
				<label for="links" class="text-gray-600 font-bold mb-1 flex-1">Socials</label>
				<button class="bg-rose-500 text-white px-4 rounded-full" on:click={() => addLinks()}
					>add</button
				>
			</div>
			{#each artist.links as link, linkIndex}
				<div class="flex mb-2 gap-2" key={linkIndex}>
					<input
						type="text"
						placeholder="Type"
						bind:value={artists[index + currentPage * pageSize].links[linkIndex].type}
						class="mr-2 px-2 py-1 border rounded dark:bg-gray-700"
					/>
					<input
						type="text"
						placeholder="username"
						bind:value={artists[index + currentPage * pageSize].links[linkIndex].name}
						class="mr-2 px-2 py-1 border rounded dark:bg-gray-700"
					/>
					<input
						type="text"
						placeholder="Link"
						bind:value={artists[index + currentPage * pageSize].links[linkIndex].link}
						class="mr-2 px-2 py-1 border rounded dark:bg-gray-700"
					/>
				</div>
			{/each}
		</div>
	{/each}

	{#if artists.length > 0}
		<div class="flex justify-between">
			<button
				class="bg-rose-500 text-white px-4 py-2 rounded"
				on:click={() => (currentPage = Math.max(0, currentPage - 1))}
				disabled={currentPage === 0}
			>
				Previous
			</button>
			<button
				class="bg-rose-500 text-white px-4 py-2 rounded"
				on:click={() => (currentPage = Math.min(artists.length / pageSize - 1, currentPage + 1))}
				disabled={(currentPage + 1) * pageSize >= artists.length}
			>
				Next
			</button>
			<button class="bg-rose-500 text-white px-4 py-2 rounded" on:click={addArtist}> New </button>
		</div>
	{/if}
</main>

<style>
	input,
	textarea {
		@apply bg-gray-200 text-white my-2 p-2 border rounded dark:bg-gray-700;
	}
</style>
