<svelte:head>
	<title>Artistic Evil</title>
	<meta name="description" content="artistic evil - misic,vibes and chills" />
</svelte:head>

<section>
    <h4 class="uppercase">coming soon</h4>
</section>