<script>
	import { artists } from '$lib/js/content';
	import { icons } from './../../lib/js/icons.js';
</script>

<svelte:head>
	<title>Artistic Evil - join us</title>
	<meta name="description" content="artistic evil - misic,vibes and chills" />
</svelte:head>

<div class="text-column sm:w-1/2 text-center p-4">
	<div class="mb-4">
		<h2 class="bold text-lg mb-2 uppercase">Join Us</h2>
		<p class="text-md">
			email us at: <a
				class="text-rose-400 border-b border-rose-400 border-dotted"
				href="mailto:info@artisticevil.com">info@artisticevil.com</a
			>
		</p>
	</div>

	<div class="mt-3">
		<h2 class="bold text-lg mb-2 uppercase">Socials</h2>
		<div class="flex items-center gap-3 my-3 justify-center">
			{#each artists[0].links as link}
					<a href={link.link} class="w-24 h-24 flex justify-center" target="_blank">
						{@html icons[link.type]}
					</a>
			{/each}
		</div>
	</div>
</div>
