<script>
	import Icon from './Icon.svelte';

	export let artist = {};
</script>


<div class="span flex-1 p-3">
	<div class="flex gap-2">
		<div class="img w-16 h-16 rounded-full bg-slate-500">
			<img src={artist.image} alt={artist.name} class="w-full h-full rounded-full" />
		</div>
		<div class="info py-2 h-full">
			<h2>{artist.name}</h2>
			<p class="text-gray-300 italic text-sm">{artist.role}</p>
		</div>
	</div>

	<div class="description px-2 py-4 min-h-40">
		<p class="px-2">{artist.description}</p>
	</div>
</div>

<div
	class="list-none
 flex space-x-2 p-3 text-xs sm:text-sm sm:py-4 sm:px-2 sm:space-x-0 sm:flex-col"
>
	{#each artist.links as link}
		<a href={link.link} class="small" target="_blank">
			<Icon name={link.type} />
			<span>{link.name}</span>
		</a>
	{/each}
</div>

<style>
	.list-none > a {
		@apply mb-1 p-1 flex items-center gap-1 text-xs sm:text-sm;
	}

	.list-none > a:hover {
		@apply border-b text-rose-500 border-dotted border-rose-500;
	}
</style>
