<script>
	import { page } from '$app/stores';
  
	$: currentPage = $page.url.pathname;
  </script>
  
  
  <nav class="bg-transparent">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
	  <div class="flex items-center justify-between h-16">

		<div class="flex-shrink-0">
		  <a href="./">
		   <img src="/logo_1_rb.png" class="w-20 sm:w-36 lg:w-40" alt="">
			</a
		  >
		</div>
  
		<div class="md:block relative">
		    <img src="/Flag_of_Kenya.svg" class="w-16 sm:w-24"  alt="flag of kenya">
		</div>
	  </div>
	</div>
  </nav>
  
  <nav class="flex justify-center sm:space-x-10 space-x-4 ">
	<div class="item"  class:active={currentPage === '/'}>
	  <a href="/">our artist</a>
	</div>
	<div class="item"  class:active={currentPage === '/shop'}>
	  <a href="/shop">shop</a>
	</div>
	<div class="item"  class:active={currentPage === '/join'}>
	  <a href="/join">join us</a>
	</div>
	<div class="item"  class:active={currentPage === '/about'}>
	  <a href="/about">about</a>
	</div>  
  </nav>
  
  
  <style>
	.active{
	  color: #EB1F4C;
	  @apply text-rose-500 border-b-2 border-dotted border-rose-600;
	}
	.item{
	  @apply text-center;
	}
  
	.item a{
	  @apply uppercase;
	}
  
  </style>