<svelte:head>
	<title>About</title>
	<meta name="description" content="About artistic evil" />
</svelte:head>

<div class="text-column sm:w-1/2 text-center p-4">
	<h2 class="bold text-lg mb-3 uppercase">About</h2>
	<p class="text-md "> 
		Artistic evil is a brand signifying transformation of the energy using music.
	</p>
</div>
